.balloon .frame {
  fill: white;
  stroke: blue;
  stroke-width:1;
  rx: 39px;
  ry: 39px;
}
.balloon-narrator .frame {
  rx: 0;
  ry: 0;
}

.balloon text {
  font-family: sans-serif;
}
.balloon-princess .frame {
  fill: white;
  stroke: red;
}
